@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap');$base-size: 12px;
@import url('https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap');


// fonts
$normal-font: 'Titillium Web', sans-serif;
$logo-font: 'Stalinist One', cursive;

// colors
$dark: #1A1A1D;
$grey: #4E4E50;
$purple: #6F2232;
$pink: #950740;
$red: #C3073F;

