@import '../../../styles/settings.scss';

.root {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $dark;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $grey;
  z-index: 999;

  .logo {
    font-family: $logo-font;
    font-size: 35px;
    color: $red;
    margin-left: 20px;
    text-decoration: underline;

    &:hover {
      cursor: pointer;
    }
  }

  .buttons {
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .root {
    .logo {
      font-size: 25px;
    }
  }
}

@media screen and (max-width: 399px) {
  .root {
    .logo {
      font-size: 20px;
    }
  }
}
