@import '../../../styles/settings.scss';

body {
  background-color: $dark;
}

.root {
  width: 80vw;
  min-height: 100vh;
  max-width: 1200px;
  padding: 30px 0;
  background-color: $dark;
  margin: 0 auto;

}

@media screen and (max-width: 1024px) {
  .root {
    width: 100vw;
  }
}

// 320px — 480px: Mobile devices.
// 481px — 768px: iPads, Tablets.
// 769px — 1024px: Small screens, laptops.
// 1025px — 1200px: Desktops, large screens.
// 1201px and more — Extra large screens, TV.
