@import '../../../styles/settings.scss';

.root {
  min-height: 170px;
  background: $grey;
  display: flex;
  padding: 20px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s;

  // &:hover {
  //   border: 5px solid $purple;
  //   border-radius: 5px;
  // }

  .photoAndTitle {
    display: flex;
    align-items: center;

    img {
      width: 130px;
      height: 130px;
      object-fit: cover;
      margin-right: 10px;
      transition: 0.3s;


      &:hover {
        cursor: pointer;
        position: absolute;
        width: 300px;
        height: 300px;
      }
    }

    h2 {
      font-family: $normal-font;
      font-size: 22px;

      &:hover {
        cursor: pointer;
        color: $purple;
      }
    }

  }

  .price {
    font-family: $normal-font;
    font-size: 22px;
  }


}
